<h2>Update the drone</h2>
<form action="#" method="post">
    <label for="name">Name</label>
    <input id="name" name="name" type="text" value="{{drone.name}}">
    <label for="propellers">Propellers</label>
    <input id="propellers" name="propellers"  type="number" value="{{drone.propellers}}">
    <label for="maxSpeed">Speed</label>
    <input id="maxSpeed" name="maxSpeed" type="number" value="{{drone.maxSpeed}}">
    <input type="submit" value="Submit">
</form>